@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --e-global-color-accent: #AC312D;
    --e-global-color-primary: #0B1928;
    --e-global-color-grey: #E4E5E6;
}

/* for test */
body {
    background-color: #F0F4F5;
    height: 120vh;
}
/* for test */

a {
    cursor: pointer;
}

.d-flex {
    display: flex !important;
}

.d-block {
    display: block !important;
}

.d-none {
    display: none !important;
}

/* ----- Header ----- */
#header ul {
    list-style: none;
    font-size: 0;
}

    /* --- Top Header --- */
#header .top-header {
    background-color: var(--e-global-color-accent);
    padding: 0 30px;
    transition: .3s; /* ? */
    z-index: 100;
}

#header .top-header .wrapper {
    width: 100%;
    max-width: 1200px;
    min-height: 5px;
    margin: auto;
}

#header .top-header .wrapper ul {
    display: flex;
    vertical-align: baseline;
    justify-content: flex-start;
    flex-wrap: wrap;
}

#header .top-header .wrapper ul li {
    display: flex;
    margin: 0 calc(17px/2);
    align-items: center;
}

#header .top-header .wrapper ul li:first-child {
    margin-left: 0;
}

#header .top-header .wrapper ul li a {
    display: flex;
    font-family: "Roboto", Sans-serif;
    font-weight: 400;
    color: #fff;
    width: 100%;
    align-items: center;
    text-decoration: none;
    line-height: 1.5;
}

#header .top-header .wrapper ul li a .top-icon {
    width: 1.25em;
    font-size: 14px;
}

#header .top-header .wrapper ul li a .top-text {
    padding-left: 3px;
    font-size: 15px;
}

    /* --- Main Header --- */
#header .main-header {
    background-color: #fff;
    padding: 10px 0;
    transition: .3s;
    z-index: 99;
}

#header .main-header .wrapper {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    flex-wrap: wrap;
}

#header .main-header .wrapper .h-logo {
    width: 20.36%;
}

#header .main-header .wrapper .h-logo a {
    display: block;
}

#header .main-header .wrapper .h-logo img {
    width: 60%;
    max-width: 100%;
    height: auto;
}

#header .main-header .wrapper .h-navigation {
    display: flex;
    width: 58.559%;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
}

#header .main-header .wrapper .h-navigation nav ul li {
    display: inline-block;
    position: relative;
}

#header .main-header .wrapper .h-navigation nav ul li .h-dropdown {
    position: absolute;
    margin-top: 9px;
    width: fit-content;
    box-shadow: 0px 0px 30px 0px rgb(0 0 0 / 10%);
    display: none;
    transition: .3s;
}

#header .main-header .wrapper .h-navigation nav ul li .h-dropdown li {
    display: block;
    width: 100%;
}

#header .main-header .wrapper .h-navigation nav ul li .h-dropdown li:first-child {
    border-bottom: 1px solid var(--e-global-color-grey);
}

#header .main-header .wrapper .h-navigation nav ul li .h-dropdown li a {
    display: flex;
    width: 100%;
    font-family: "Roboto", Sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    color: var(--e-global-color-primary);
    padding: 13px 10px;
    background-color: #fff;
    white-space: nowrap;
    text-decoration: none;
    border-left: 8px solid transparent;
    transition: color .4s ease, background-color .4s ease;
}

#header .main-header .wrapper .h-navigation nav ul li .h-dropdown li a:hover {
    background-color: var(--e-global-color-accent);
    color: #fff;
}

#header .main-header .wrapper .h-navigation > nav > ul > li > a {
    padding: 30px 20px;
    font-family: "Roboto", Sans-serif;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none;
    color: var(--e-global-color-primary);
    fill: var(--e-global-color-primary);
    transition: color .4s ease;
}

#header .main-header .wrapper .h-navigation > nav > ul > li > a:hover {
    color: var(--e-global-color-accent);
}

#header .main-header .wrapper .h-navigation > nav > ul > li > a.active {
    color: var(--e-global-color-accent);
    fill: var(--e-global-color-accent);
}

#header .main-header .wrapper .h-navigation > nav > ul > li > a .drop-arrow {
    display: inline-block;
    width: 10px;
    height: 20px;
    opacity: 0;
}

#header .main-header .wrapper .h-session {
    display: flex;
    width: 20.363%;
    text-align: right;
    align-content: center;
    align-items: center;
    justify-content: center;
}

#header .main-header .wrapper .h-session a {
    display: flex;
    height: 100%;
    font-family: "Roboto", Sans-serif;
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: -0.7px;
    border-radius: 100px 100px 100px 100px;
    color: var(--e-global-color-primary);
    fill: var(--e-global-color-primary);
    text-decoration: none;
    align-items: center;
    transition: color .4s ease;
}

#header .main-header .wrapper .h-session a:hover {
    color: var(--e-global-color-accent);
}

#header .main-header .wrapper .h-session a .icon {
    display: inline-block;
    margin-right: 5px;
    font-size: 13.84px;
}

#header .main-header .wrapper .h-menu {
    display: none;
}

/* ----- Media Queries ----- */
@media (max-width: 1024px) {
    #header .top-header {
        padding: 10px 20px;
    }

    #header .top-header .wrapper ul #top-location {
        display: none;
    }

    #header .top-header .wrapper ul #top-email {
        margin-left: 0;
    }

    #header .top-header .wrapper ul li a .top-text {
        font-size: 14px;
    }

    #header .main-header {
        padding: 0;
    }

    #header .main-header .wrapper .h-logo {
        width: 65%;
        padding: 10px 0 16px 20px;
    }

    #header .main-header .wrapper .h-logo img {
        width: 40%;
        max-width: 40%;
    }

    #header .main-header .wrapper .h-session {
        width: 35%;
        padding: 13px 24px;
        justify-content: flex-end;
        margin-top: -3px;
    }

    #header .main-header .wrapper .h-navigation {
        order: 3;
        display: flex;
        padding: 20px 0;
        width: 100%;
        border-top: 1px solid var(--e-global-color-grey);
        justify-content: center;
    }

    #header .main-header .wrapper .h-navigation nav ul li .h-dropdown {
        margin-top: 0;
    }

    #header .main-header .wrapper .h-navigation > nav > ul > li > a {
        padding: 0 17px;
    }

    #header .main-header .wrapper .h-navigation > nav > ul > li > a .drop-arrow {
        width: auto;
        height: auto;
        padding: 0 0 0 10px;
        opacity: 1;
    }
}

@media (max-width: 767px) {
    *[data-collapsed='true'] {
        height: 0px;
    }
    
    #header .top-header {
        padding: 9px 20px;
    }

    #header .top-header .wrapper ul {
        justify-content: center;
    }

    #header .top-header .wrapper ul li a {
        line-height: 1.6;
    }

    #header .top-header .wrapper ul li a .top-icon {
        font-size: 16px;
        transform: translateY(1px);
    }

    #header .top-header .wrapper ul li a .top-text {
        font-size: 15px;
    }

    #header .top-header .wrapper ul li {
        margin: 0 calc(10px/2);
    }

    #header .top-header .wrapper ul #top-email {
        margin-left: calc(10px/2);
    }

    #header .main-header .wrapper .h-logo {
        width: 100%;
        padding: 30px;
        text-align: center;
        border-bottom: 1px solid var(--e-global-color-grey);
    }

    #header .main-header .wrapper .h-logo a {
        display: flex;
        justify-content: center;
    }

    #header .main-header .wrapper .h-logo img {
        width: 48%;
        max-width: 60%;
    }

    #header .main-header .wrapper .h-session {
        width: 80%;
        justify-content: center;
    }

    #header .main-header .wrapper .h-session .clientes {
        display: none;
    }

    #header .main-header .wrapper .h-navigation {
        padding: 0;
        transition: .3s;
        overflow-y: hidden;
        border: 0 solid transparent;
    }

    #header .main-header .wrapper .h-navigation.collapse {
        transform: scaleY(0);
        max-height: 0;
    }

    #header .main-header .wrapper .h-navigation nav {
        width: 100%;
    }

    #header .main-header .wrapper .h-navigation nav ul li {
        width: 100%;
    }

    #header .main-header .wrapper .h-navigation nav ul li a {
        display: flex;
        padding: 24px 20px;
        font-size: 15px;
        line-height: 20px;
        border-bottom: 1px solid var(--e-global-color-grey);
        transition: background-color .3s;
    }

    #header .main-header .wrapper .h-navigation nav ul li a:hover {
        background-color: var(--e-global-color-accent);
        color: #fff;
    }

    #header .main-header .wrapper .h-navigation nav ul li a.active {
        background-color: var(--e-global-color-accent);
        color: #fff;
    }

    #header .main-header .wrapper .h-navigation nav ul li .h-dropdown {
        position: relative;
        box-shadow: none;
        width: 100%;
        display: block;
        overflow-y: hidden;
    }

    #header .main-header .wrapper .h-navigation nav ul li .h-dropdown li {
        width: 100%;
    }

    #header .main-header .wrapper .h-navigation nav ul li .h-dropdown li:first-child {
        border: none;
    }

    #header .main-header .wrapper .h-navigation nav ul li .h-dropdown li a {
        padding: 24px 30px;
    }

    #header .main-header .wrapper .h-menu {
        display: block;
        width: 20%;
        text-align: center;
        margin: auto;
        border-left: 1px solid var(--e-global-color-grey);
    }

    #header .main-header .wrapper .h-menu > div {
        width: 33px;
        height: 33px;
        font-size: 22px;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
}